body {
  background-color: black;
}

p{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.box {
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: lightpink;
  width: 600px;
  height: 250px;
  border-radius: 20px;
}

.pic-box {
  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr ;
}

.opening{
  margin-left: 10px;
  margin-top: 20px;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.isi {
  margin-left: 10px;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

.love {
  background-color: yellow;
  text-align: center;
  width: 170px;
  margin-left: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.form {
  margin-left: 500px;
  font-size: 12px;
  color: rgb(0, 0, 0);
}